.hero {
  background-image: url('https://res.cloudinary.com/dzj7ingfo/image/upload/v1760000886/indexhero_tiuigw.jpg'); /* Add your background image */
  background-size: cover;
  background-position: center;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
